.title {
  text-align: center;
}

.form-wrap {
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

.PicContainer {
  display: flex;
  justify-content: space-between;
}

.pics {
  width: 500px;
  height: 400px;
}

.form {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5%
}

.capRow {
  display: flex;
  justify-content: space-around;
  font-size: 40px;
}

.cap2 {
  position: absolute;
  right: 350px;
}

.cap1 {
  position: absolute;
  left: 100px
}
